# Obviously you need to specify this.
token = "YOUR_DISCORD_BOT_TOKEN_HERE"

groq_api_key = "YOUR_GROQ_OR_OPENAI_API_KEY" # Will disable the AI functions if not provided

# Optional values, you don't need to change these for anything to work
crossmark = ":x:"
confused = ":confused:"
